<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="org.rophim.web"
        version="1.0.0"
        viewmodes="fullscreen">

  <!-- entry-point html -->
  <content src="index.html"/>

  <!-- app-store metadata -->
  <name>Rophim</name>
  <icon src="icon.png"/>
  <tizen:application id="org.rophim.web"
                     package="org.rophim.web"
                     required_version="2.4"/>

  <!-- don’t rotate and don’t show the context menu -->
  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 rotation-lock="true"/>

  <!-- let the app reach rophim.me -->
  <access origin="*" subdomains="true"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
</widget>
